html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  height: inherit;
  overflow: hidden;
 /* line-height: 0px;*/
}



h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  right: 5px;
  color: transparent;
  text-shadow: 0 0 2px white;
}

.score {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 140px;
  width: 120px;
  padding: 5px;
  color: rgb(82, 82, 82);
  background-color: aquamarine;
  text-align: center;
}

.timer {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  width: 120px;
  padding: 5px;
  color: rgb(82, 82, 82);
  background-color: aquamarine;
  text-align: center;
}


.game-menu {
  position: absolute;
  top: 40%;
  left: 45%;
}

.start-button{
  background-color: crimson;
  color: beige;
  border: 1px solid darkgray;
  border-radius: 2px;
  width: 150px;
  height: 30px;
}